@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-Regular.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-RegularOblique.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-Heavy.otf");
  font-weight: 700;
  font-style: normal;
}
